$video-width: 788px;

@font-face {
  font-family: "cheque";
  src: url('/fonts/cheque.otf');
}

noscript {
  color: white;
  p {
    margin: 40px;
    text-align: right;
  }
}

.title__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  background: black;
  color: white;
  border-color: white;

  &.fade-out {
    opacity: 0;
    color: black;
    transition: color 2s linear, visibility 0s 4s, opacity 2s linear 2s;
  }

  &.hide {
    display: none;
  }
}

.title {
  display: inline-block;
  font-family: "cheque", serif;
  letter-spacing: 0.1em;
  font-size: 5em;
  cursor: pointer;
  text-align: center;
  user-select: none;

  .fade-out & {
    cursor: default
  }
}

.title__border {
  border-top: 0.05em solid;
  border-bottom: 0.05em solid;
  padding: 0.2em 0;
  width: 97%;
}

.title__cta {
  font-size: 0.26em;
  font-family: arial;
  font-weight: bold;
  letter-spacing: 0.5em;
  opacity: 0;
  .show-begin & {
    opacity: 1;
    transition: opacity 1s ease;
  }
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

.video-player {
  position: relative;
}

.video-player__img {
  width: 100%;
}

.video-player__video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.game-ui {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

.board-position {
  cursor: pointer;
  transition: fill 0.5s ease;
  &:hover {
    fill: rgba(255,0,0,0.5);
  }
}

.video-player__blur {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 8px 8px black inset;
}

.futile-game {
  min-height: 600px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.futile-game__player-select {
  display: flex;
  width: 100%;
  max-width: $video-width;
}

.futile-game__player-2-button {
  margin-left: auto;
}

.futile-game__player-1-button, .futile-game__player-2-button {
  color: white;
  background-color: black;
  border: black;
  border-style: solid;
  border-radius: 2px;
  border-width: 6px;
  cursor: pointer;
}

@media (min-width: 480px) {
  .title {
    font-size: 7em;
  }
}
