@font-face {
  font-family: "cheque";
  src: url('/fonts/cheque.otf');
}

.title__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  background: black;
  color: white;
  border-color: white;

  &.clicked {
    opacity: 0;
    color: black;
    transition: color 2s linear, visibility 0s 4s, opacity 2s linear 2s;
  }
}

.title {
  display: inline-block;
  font-family: "cheque", serif;
  letter-spacing: 0.1em;
  font-size: 7em;
  cursor: pointer;
  text-align: center;
  user-select: none;

  .clicked & {
    cursor: default
  }
}

.title__border {
  border-top: 0.05em solid;
  border-bottom: 0.05em solid;
  padding: 0.2em 0;
  width: 97%;
}

.title__cta {
  font-size: 0.26em;
  font-family: arial;
  font-weight: bold;
  letter-spacing: 0.5em;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

.video-player {
  position: relative;
}

.video-player__img {
  width: 100%;
}

.video-player__video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.futile-game {
  min-height: 600px;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
