<header class="title">
  <div class="title__border">
    <div class="title__top">Futile</div>
    <div class="title__bottom">Games</div>
  </div>
  <div class="title__cta">CLICK TO BEGIN</div>
</header>
