<img src={{imgSrc}} class="video-player__img">
<video class="video-player__video">
  <source src="{{srcWebm}}" type="video/webm">
  <source src="{{srcMp4}}" type="video/mp4">
</video>
<div class="video-player__blur"></div>
