{{yield videoName initialPosterName posterName (action "moveFinished")}}

<div class="futile-game__player-select">
  <button class="futile-game__player-1-button">Play</button>
  <button class="futile-game__player-2-button">Play</button>
</div>

